<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <title>Safe contacts</title>
</head>
<body>
    <header>
        <nav>
            <div class="Logo">
                <h1 style="margin-left: 20px;">Safe Contacts</h1>
            </div>
            <div class="Navigate">
                <div class="Links">
                    <a href="/">Home</a>
                    <a href="/Us">Acerca de</a>
                    <a href="/Tutorial">Tutorial</a>
                </div>
                <div>
                    <hr style="width: 2px; height: 30px; background-color: white;border: none;">
                </div>
                <div class="LogIn">
                    <a href="/logIn">LogIn</a>
                </div>
            </div>
        </nav>
        <div class="Hero">
            <div class="Eslogan">
                <div>
                    <h2 style="margin: 0; margin-left: 50px;">
                        Save Safely Your <br>
                        contacts
                    </h2>
                </div>
                <div>
                    <p style="margin: 0; margin-left: 50px;">Rápido, seguro y fácil</p>
                </div>
                <div>
                    <a href="/signIn" style="margin-left: 50px;">Sign up</a>
                </div>
            </div>
            <div></div>
        </div>
    </header>
</body>
</html>