<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/addContact.css">
    <title>Agregar contacto</title>
</head>
<body>
    <nav>
        <a href="/profile"><h1>Safe Contacts</h1></a>
    </nav>
    <div class="background1"></div>
    <div class="background2"></div>
    <main>
        <div>
            <h1>Add contact</h1>
        </div>
        <div class="form-container">
            <form action="/profile/addContact" method="POST">
                <div class="label">
                    <label for="name">First name</label>
                </div>
                <div class="input">
                    <input autocomplete="off" name="name" type="text">
                </div>
                <div class="label">
                    <label for="">Last name</label>
                </div>
                <div class="input">
                    <input autocomplete="off" name="lastName" type="text">
                </div>
                <div class="label">
                    <label for="">Telefono</label>
                </div>
                <div class="input">
                    <input autocomplete="off" name="tel" type="text">
                </div>
                <div class="label">
                    <label for="">Email</label>
                </div>
                <div class="input">
                    <input autocomplete="off" name="email" type="text">
                </div>
                <div class="btn-container">
                    <input type="submit" value="Add a contact">
                </div>
            </form>
        </div>
    </main>
</body>
</html>