<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Safe contacts</title>
</head>
<body>
    <header>
        <nav>
            <div class="Logo">
                <h1 style="margin-left: 20px;">Safe Contacts</h1>
            </div>
            <div class="Navigate">
                <div class="Links">
                    <a href="/">Home</a>
                    <a href="/Us">Acerca de</a>
                    <a href="/Tutorial">Tutorial</a>
                </div>
                <div>
                    <hr style="width: 2px; height: 30px; background-color: white;border: none;">
                </div>
                <div class="LogIn">
                    <a href="/logIn">LogIn</a>
                </div>
            </div>
        </nav>
        <div class="Hero">
            <div class="Eslogan">
                <div>
                    <h2 style="margin: 0; margin-left: 100px;">
                        Save Safely Your <br>
                        contacts
                    </h2>
                </div>
                <div>
                    <p style="margin: 0; margin-left: 100px;">Rápido, seguro y fácil</p>
                </div>
                <div>
                    <a href="/signIn" style="margin-left: 100px;">Sign up</a>
                </div>
            </div>
            <div></div>
        </div>
    </header>
    <main class="Carousel">

    </main>
    <footer>
        <div class="Quick-links">
            <div>
                <h3>Quick links</h3>
            </div>
            <div class="brands">
                <a href=""><img src="/img/fb.svg" alt="" width="64px" height="64px"></a>
                <a href=""><img src="/img/insta.svg" alt="" width="64px" height="64px"></a>
                <a href=""><img src="/img/twitter.svg" alt="" width="64px" height="64px"></a>
            </div>
        </div>
        <div class="About-us">
            <div>
                <h3 style="width: 40%;">About us</h3>
            </div>
            <div>
                <p>this is bran where you <br> can find rest and <br> confidiently saving your <br> contacts</p>
            </div>
        </div>
        <div class="Recomend">
            <div>
                <h3>Send us a recomendation</h3>
            </div>
            <div>
                <form action="">
                    <textarea name="" id="" cols="30" rows="10" ></textarea>
                    <input type="button" value="Enviar">
                </form>
            </div>
        </div>
    </footer>
</body>
</html>